#answer-comp{
    margin: 0px;
}
.answerOp{
    color: var(--text-color);
    background: var(--primary-color);
    border-radius: 10px;
    font-weight: 500;
    border: none;
    margin: 0px;
    white-space: pre-wrap !important; 
    word-break: break-word; 
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px var(--primary-color);
    padding-bottom: .4rem!important;
    padding-top: .4rem!important;
}

.answerOp:hover{
    opacity: .8;
}

#btnDiv{
    flex-flow: column;
    display:flex;
}
