p, h4{
    margin-bottom: 0px!important;
}

.cookie-external{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cookie-internal{
    width: 100%;
    padding: 3em;box-shadow: 3px 7px 4px 5px var(--primary-color);
    display: flex;
    justify-content: center;
}