<div class="full-width center">
    <p *ngIf="selectedAnswer!=undefined">{{selectedAnswer.text}}</p>
</div>
<div class="full-width center text-center" style="padding: 2em;">
    <nz-rate [ngModel]="value" [nzCount]="size" (ngModelChange)="valueChanged($event)"></nz-rate>
</div>
<div class="full-width center text-center" style="margin-bottom: 1rem;">
    <button *ngIf="sendEnabled" nz-button (click)="sendAnswers()" class="send-btn" nzShape="circle">
        <img src="./assets/icons/ic_send.svg" style="height: 1rem;">
    </button>
    <button *ngIf="!sendEnabled" nz-button disabled class="send-btn-disabled" nzShape="circle">
        <img src="./assets/icons/ic_send_disabled.svg" style="height: 1rem;">
    </button>
</div>