<div class="full row-center">
  <div class="row-center vertical" style="padding: 1rem; max-width: 500px;">
    <div class="full-width cardlike" style="position:relative; border-radius: 4px;
        padding: 5rem;">
      <nz-divider [nzText]="'Thank you'"></nz-divider>
      <p class="full-width">You can now close this page</p>
      <span _ngcontent-qpy-c143=""
        id="contact-banner"
        class="ng-tns-c143-1"> Want to know more about Coney? <a _ngcontent-qpy-c143="" target="_blank"
          href="https://coney.cefriel.com/" style="text-decoration: underline;color: white!important;"
          class="ng-tns-c143-1">Here!</a></span>
    </div>
  </div>
</div>
