<div class="full-width center text-center">
    <h3 *ngIf="selectedAnswer!=undefined && !maxMinDisplayed" style="margin-top: .5rem; margin-bottom: 0;">{{selectedAnswer.text}}</h3>
    <p *ngIf="selectedAnswer==undefined && !maxMinDisplayed" style="margin-top: .5rem; font-weight: 500;">Slide</p>
</div>
<div *ngIf="maxMinDisplayed" 
        class="full-width text-center" style="    display: flex;
        justify-content: space-between; font-weight: 500">
    <span>{{answersToDisplay.answers[0].text}}</span>
    <span>{{answersToDisplay.answers[answersToDisplay.answers.length-1].text}}</span>
</div>
<div class="full-width center" style="max-width: 700px; padding: 2em;">
    <nz-slider [(ngModel)]="currentValue" 
    (ngModelChange)="valueChanged()" 
    (click)="valueChanged()" 
    (touchend)="valueChanged()" 
    [nzDisabled]="disabled" 
    [nzMin]="min" 
    [nzMax]="max"
    [nzTipFormatter]="null">
    </nz-slider>
</div>
<div class="full-width center text-center" style="margin-bottom: 1rem;">
    <button *ngIf="sendEnabled" nz-button (click)="sendAnswers()" class="send-btn" nzShape="circle">
        <img src="./assets/icons/ic_send.svg" style="height: 1rem;">
    </button>
    <button *ngIf="!sendEnabled" nz-button disabled class="send-btn-disabled" nzShape="circle">
        <img src="./assets/icons/ic_send_disabled.svg" style="height: 1rem;" >
    </button>
</div>